body{
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin: 0;
    height: 100vh;

} 
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
    background-color: rgb(231, 201, 201);
    margin-left: 0;
    padding: 5px;
}
aside {
    flex: 1;
    overflow-y: auto;
    background-color: azure;
    border: 2rem;
    padding-left: 5px;
}
header {
    display: flex;
    background-color: rgb(168, 168, 168);
    border: 12px;
    height: 10vh;
}
.logo {
    padding: 10px;
    margin: 40px 0 20px;
    position: relative;
}
footer {
    display: flex;
    background-color: rgb(206, 206, 206);
    padding-left: 5px;
    height: 10vh;
}
